:root{
    --primary-purple: #635FC7;
    --primary-purple-light: #A8A4FF;
    --black: #000112;
    --dark-grey: #3E3F4E;
    --medium-grey: #828FA3;
    --lines-light: #E4EBFA;
    --light-grey: #F4F7FD;
    --white: #FFFFFF;
    --red: #EA5555;
    --red-light: #FF9898;

    --dot-todo: #49C4E5;
    --dot-doing: #8471F2;
    --dot-done: #67E2AE;
}

body {
    display: flex;
    margin: 0;
    flex-direction: row;
    background-color: var(--light-grey);
    color: var(--black);
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow: hidden;
}

.kanban-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* side bar styling */
.sidebar{
    width: 250px;
    background-color: var(--white);
    padding: 20px 0;
    border-right: 1px solid var(--lines-light);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}