:root{
    --primary-purple: #635FC7;
    --primary-purple-light: #A8A4FF;
    --black: #000112;
    --dark-grey: #3E3F4E;
    --medium-grey: #828FA3;
    --lines-light: #E4EBFA;
    --light-grey: #F4F7FD;
    --white: #FFFFFF;
    --red: #EA5555;
    --red-light: #FF9898;

    --dot-todo: #49C4E5;
    --dot-doing: #8471F2;
    --dot-done: #67E2AE;
}

body {
    display: flex;
    margin: 0;
    flex-direction: row;
    background-color: var(--light-grey);
    color: var(--black);
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow: hidden;
}

.kanban-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* side bar styling */
.sidebar{
    width: 250px;
    background-color: var(--white);
    padding: 20px 0;
    border-right: 1px solid var(--lines-light);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.logo{
    padding:0 20px;
    margin-bottom: 30px;
}

.kanban-logo{
    height: 25px;
    width: auto;
}

.boards-section h4{
    font-size: 12px;
    color: var(--medium-grey);
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin:0 20px 15px;
}

.board-button{
    background-color: transparent;
    border: none;
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    color: var(--medium-grey);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.board-button:hover:not(.active){
    background-color: var(--primary-purple);
    cursor: pointer;
}

.board-button.active{
    background-color: var(--primary-purple);
    color: var(--white);
}

/* Main content area */
.main-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
}

.main-header{
    background-color: var(--white);
    padding: 20px 30px;
    border-bottom: 1px solid var(--lines-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.main-header h2{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: var(--black);
}

.columns-container{
    flex-grow: 1;
    padding: 24px;
    display: flex;
    gap: 24px;
    overflow-x: auto;
}